/* This css is used to define the look for the footer that appears at the 
   bottom on the website.*/

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 5em;
}

.footer {
  background: #222;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.footer .logo {
  width: 35px;
  position: relative;
}

.footer a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer span {
  margin-left: 34px;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}