
/*********** Section 1 ***********/

.section-1 {
  position: relative;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0;
}

.btn {
  margin: 0 30px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background: #d3ca82;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

label[for='new-post'] {
  cursor: pointer;
}

.btn i {
  margin-left: 15px;
}


/*********** Section 1 Posts Container ***********/

.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.post-item-wrapper {
  position: relative;
  display: inline-block;
  width: 22%;
  min-width: 348px;
  max-height: 480px;
  margin: 12px 12px 40px 12px;
}

.post-item-wrapper:before {
  content: "";
  display: block;
  padding-top: 138%;
}

.post-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0px 25px 55px -60px rgba(207, 220, 220, 0.68), 0px 5px 20px rgba(68, 64, 64, 0.1);
}

.post-img {
  background-image: url('../img/road-desert.png');
  height: 40%;
  background-size: cover;
  position: relative;
}

.post-content-wrapper {
  position: relative;
  margin: 20px 22px;
  /* height: 100%; */
}

.heart-img {
  position: absolute;
  bottom: 0;
  right: 24px;
  transform: translateY(50%);
}

.heart-img i {
  font-size: 41px;
  color: #313130;
}

.post-road {
  color: #525350;
}

.post-title {}

.post-description {
  color: #525350;
  font-size: 16px;
  display: -webkit-box;
  height: 60.2px;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.pa-img {
  background-image: url('../img/profile.png');
  height: 30px;
  width: 30px;
  background-size: cover;
}

.pa-name {
  margin-left: 10px;
}

.post-item .line {
  width: 100%;
  height: 3px;
  background: #b88a58;
  border-radius: 2px;
  margin-top: 20px;
}

.reaction-container {
  display: flex;
}

.rc-img {
  width: 30px;
  height: 30px;
  background: #5e91ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px 50px 15px 0;
}

.rc-img i {
  color: white;
}

.rc-img span {
  position: absolute;
  left: 40px;
}

.post-item .likes {}

.post-item .dislikes {}

.post-item .comments {}


/*********** Section 2 ***********/

.section-2 {
  margin-top: 180px;
}

.map-wrapper {
  height: 800px;
}

#map {
  width: 100%;
  height: 100%;
}
