@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Tw Cen MT', 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


/*********** Navigation ***********/

nav {
  height: 64px;
  width: 100%;
  background: #222;
  display: flex;
  align-items: center;
  position: relative;
}

nav a {
  position: absolute;
  right: 100px;
  color: #f2f2f2;
  font-size: 20px;
}

nav .logo {
  position: absolute;
  width: 32px;
  left: 32px;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: 100%;
}


/************************************/

.mobile-nav {
  height: calc(100vh - 65px);
  width: 400px;
  background: rgb(38, 49, 57);
  color: white;
  font-size: 20px;
  position: absolute;
  right: 0;
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.2s cubic-bezier(0.51, 0.07, 0, 1.01);
}

.mobile-nav a:hover {
  color: rgb(212, 137, 87);
}

.mobile-nav a {
  color: white;
}

.m-nav-container {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #607d8b 0%, rgb(116, 140, 150) 36%, #75858c 65%, #6f7d83 100%);
  z-index: 11;
  display: none;
}

.mobile-label {
  z-index: 20;
  display: block;
  cursor: pointer;
}

.m-pos {
  width: 30px;
  height: 23px;
  top: 20px;
  right: 45px;
  position: absolute;
}

.mobile-nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-nav-icon .line {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  margin: 3px 0;
}

#mobile-check {
  display: none;
}

.line-2 {
  transition: all 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#mobile-check:checked~.mobile-nav-icon .line-1 {
  transform: translateY(8px) rotate(45deg);
}

#mobile-check:checked~.mobile-nav-icon .line-2 {
  transform: translateX(-20px);
  opacity: 0;
}

#mobile-check:checked~.mobile-nav-icon .line-3 {
  transform: translateY(-8px) rotate(-45deg);
}

#mobile-check:checked~.mobile-nav {
  transform: translateX(0);
}

#mobile-check:checked~.mobile-lg {
  transform: translateX(0%);
}

#mobile-check:checked~header .header-bg .header-container {
  z-index: 0;
}

.mobile-nav-container {
  padding-top: 40px;
}

.mobile-lg {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(8, 27, 41, 0.82);
  transform: translateX(-100%);
  transition: all 0.2s cubic-bezier(0.51, 0.07, 0, 1.01);
}

.user-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 7px #445d70 solid;
}

.user-panel a {
  color: white;
}

.user-panel span {
  font-size: 30px;
}

.user-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.un {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.un a {
  display: block;
  margin: 3px 0;
  color: white;
}

.un-1 {}

.un div {
  margin-bottom: 12px;
}

.un i {
  margin-right: 5px;
}

.user-nav hr {
  width: 100%;
  height: 5px;
  background: #0a3d63;
  border: none;
  margin: 38px 0;
}

.mobile-nav .btn {
  background: #445d70;
  height: 33px;
  width: 200px;
  border-radius: 2px;
  margin-top: 15px;
}


/*********** Header ***********/

header {
  height: 80vh;
  position: relative;
}

.header-bg {
  background-image: url('../img/road-background.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-size: 25px;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(44, 44, 44, 0.6);
  z-index: 1;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fffbf9;
  z-index: 10;
  position: relative;
}

.m-title h1 {
  letter-spacing: 10px;
  font-family: 'hacked';
  font-size: 60px;
}

.undertitle {
  margin-top: 30px;
}

.line {
  width: 175px;
  height: 3px;
  background: #fffbf9;
  margin: 0 auto;
  border-radius: 2px;
}


/*********** Footer ***********/

footer {
  background: #222;
  height: 200px;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logo {
  width: 90px;
  height: 90px;
}

footer span {
  margin-left: 34px;
  color: white;
  font-size: 33px;
  letter-spacing: 1px;
}