
.map-container {
    position: fixed;
    height: 0;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    background: rgba(57, 58, 58, 0.71);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    opacity: 0;
}

.wrapper {
    position: fixed;
    height: 74%;
    width: 80%;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-54%);
}

.map-wrapper {
    height: 100%;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#map {
    width: 100%;
    height: 100%;
}

.map-heading {  
    height: 60px; 
    width: 100%;  
    background: #4f976d;
}

.mobile-label {
    z-index: 20;
    display: block;
    cursor: pointer;
}

.m-pos {
    width: 30px;
    height: 23px;
    top: 20px;
    right: 45px;
    position: absolute;
}

.mobile-nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobile-nav-icon .line {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    margin: 3px 0;
}

#mobile-check {
    display: none; 
}

.line-2 {
    transition: all 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    opacity: 1;
}

.line-3 {
    transition: all 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#mobile-check:checked~.map-container .line-1 {
    transform: translateY(8px) rotate(45deg);
}

#mobile-check:checked~.map-container .line-2 {
    transform: translateX(-20px);
    opacity: 0;
}

#mobile-check:checked~.map-container .line-3 {
    transform: translateY(-8px) rotate(-45deg);
}

#mobile-check:checked~.map-container {
    height: 100%;
    opacity: 1;
}

.hide {
    display: none;
}

