/* this css defines the look of the navigation bar shown throughout the website*/

.header-bar .logo {
  width: 35px;
  left: 40px;
  cursor: pointer;
  margin-left: 45px;
  position: relative;
}

.logo img {
  width: 100%;
}

.logo a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  z-index: 3;
  background: #222;
}

.account-wrapper {
  display: flex;
  right: 40px;
  top: 25px;
  z-index: 2;
  margin-right: 45px;
  font-size: 18px;
}

.s-account {
  margin: 0 15px;
  cursor: pointer;
  color: #dee7e7;
}

.s-account a, .header-container>a {
  color: inherit;
  margin: 0 4px;
  text-decoration: none;
}

.s-account a:hover, .header-container>a:hover {
  color: #dcb25e;
}

.s-account i {
  font-size: 0.8em;
}

.main-navigation {
  transition: all 0.4s ease-in-out;
}

.m-nav-container {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #63a27e;
  z-index: 12;
  display: none;
}

.mn-pos {
  width: 30px;
  height: 23px;
  top: 20px;
  right: 45px;
  position: fixed;
}

.mobile-nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-nav-icon .line {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  margin: 3px 0;
}

#mobile-nav-check {
  display: none;
}

.line-2 {
  transition: all 0.1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#mobile-nav-check:checked~.m-nav-container .mobile-nav-icon .line-1 {
  transform: translateY(8px) rotate(45deg);
}

#mobile-nav-check:checked~.m-nav-container .mobile-nav-icon .line-2 {
  transform: translateX(-20px);
  opacity: 0;
}

#mobile-nav-check:checked~.m-nav-container .mobile-nav-icon .line-3 {
  transform: translateY(-8px) rotate(-45deg);
}

#mobile-nav-check:checked~.main-navigation {
  transform: translateY(0);
}

.mobile-nav-label {
  z-index: 20;
  display: block;
  cursor: pointer;
}


/****** ----------- Media-Queries MAX-WIDTH  ----------- ******/

@media screen and (max-width: 600px) {
  .header-bar .logo {
    left: inherit;
    margin-left: 20px;
    width: 35px;
  }

  .m-nav-container {
    display: block;
  }

  .main-navigation {
    height: 100vh;
    background: #5b866d !important;
    z-index: 11;
    transform: translateY(-100%);
  }

  .account-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .logo {
    margin: 25px 0 !important;
  }

  .main-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
  }

  .s-account {
    margin: 14px 15px;
  }

  .s-account i {
    font-size: 1.1em;
  }
  
  .s-account a {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  .header-bar .logo {
    left: inherit;
    margin-left: 20px;
    width: 35px;
  }
}

@media screen and (max-width: 350px) {
  .account-wrapper {
    margin-right: 0;
  }
}
