@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('../fonts/tw-cen-mt/tcm.TTF');

/* This css defines the look of the the new post page*/

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
}

body {
    height: calc(100% - 155px);
    font-family: 'Tw Cen MT', 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.header-bar {
    background: #bf625a;
}

.s-account {
    color: #f1efe9;
}

a {
  text-decoration: none;
  color: inherit;
}

.np-container {
    display: flex;
}

main {
    position: relative;
    z-index: 2;
    height: 100%;
}

main > section.map {
  margin-top: 50px;
}

.np-container {
    display: flex;
    background: #fafafa;
    width: 100.3%;
    height: 99.5%;
    margin: 5px auto;
}

.new-post-container {
  font-size: 22px;
  width: 80%;
  min-width: 700px;
  border: solid 1px;
  border-width: 0 1px 0 1px;
}

.new-post-container form {
  padding: 30px;
  margin-top: 30px;
  width: 71%;
}

fieldset {
  position: relative;
  border-style: solid;
  padding: 1.5rem;
  padding-top: 2em;
  border: none;
  width: 100%;
}

fieldset > div {
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}

.location > div {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}

.location ol {
  padding-left: 25px;
  margin: 20px 0;
}

.location ol li {
  margin-bottom: 7px;
}

.location > p.info:last-of-type {
  margin-bottom: 25px;
}

.location > p.list-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

input,
textarea {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.25rem;
    border: solid 1px #4e84c8;
    border-radius: 3px;
    padding: 10px 0 0 15px;
    width: 100% !important;
}

input {
  height: 2.5rem;
  font-size: 1rem;
  text-overflow: ellipsis;
  padding: 2px 0 0 15px;
}

legend {
    letter-spacing: 2px;
    font-size: 30px;
    border-bottom: solid 1px #bdb9b9;
    width: 200px;
    padding-bottom: 18px;
}

textarea {
  resize: vertical;
  overflow: hidden;
  width: 400px;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: none;
  padding: 2px 10px;
  min-width: 175px;
  border: 1px solid #666;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  height: 40px;
}

button:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

button i {
    margin-right: 10px;
}

.file-upload i {
    position: absolute;
    top: 12px;
    right: 0;
}

div.location-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.autocomplete-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  font-size: 15px;
  font-weight: 300;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.location-error-message,
.post-error-message {
  color: #b30909;
  font-size: 0.85rem;
}

.location-success-message {
  color: #008b00;
  font-size: 0.85rem;  
}

/* Defines the look of the map*/
/*********** MAP ***********/

.map {
  margin-top: 180px;
}

.map-wrapper {
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}


/*** footer ***/

.footer {
    background: #fafafa;
}

.footer .logo {
    filter: invert(100%); 
}

.footer span {
    color: #000;
}