@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('../fonts/tw-cen-mt/tcm.TTF');

/* This css defines the look of the the new post page*/

html, body {
  overflow-x: visible;
  margin: 0;
  height: 100%;
  font-family: 'Tw Cen MT', 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main > section.map {
  margin-top: 50px;
}

.new-post-container {
  font-size: 22px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.new-post-container form {
  padding: 30px 10% 30px;
}

fieldset {
  position: relative;
  border-style: solid;
  padding: 1.5rem;
}

fieldset > div {
  margin-bottom: 15px;
}

.location > div {
  margin-bottom: 15px;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 0.125rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

input {
  height: 2rem;
  font-size: 1rem;
  text-overflow: ellipsis;
}

textarea {
  resize: vertical;
  overflow: hidden;
  width: 400px;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  min-width: 175px;
  border: 1px solid #666;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

div.location-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.autocomplete-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  font-size: 15px;
  font-weight: 300;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.location-error-message,
.post-error-message {
  color: #b30909;
  font-size: 0.85rem;
}

.location-success-message {
  color: #008b00;
  font-size: 0.85rem;  
}

/* Defines the look of the map*/
/*********** MAP ***********/

.map {
  margin-top: 180px;
}

.map-wrapper {
  height: 800px;
}

#map {
  width: 100%;
  height: 100%;
}