@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('../fonts/tw-cen-mt/tcm.TTF');

/* This css defines the look of the the new post page*/

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f9fbfb;
}

body {
  height: calc(100% - 155px);
  font-family: 'Tw Cen MT', 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.header-bar {
  background: #24282b;
}

.s-account {
  color: #f1efe9;
}

a {
  text-decoration: none;
  color: inherit;
}

.np-container {
  display: flex;
}

main {
  position: relative;
  z-index: 2;
  height: 100%;
}

main>section.map {
  margin-top: 50px;
}

.np-container {
  display: flex;
  background: #f9fbfb;
  width: 100.3%;
  height: 99.5%;
  margin: 5px auto;
}

.new-post-container {
  font-size: 22px;
  width: 80%;
  min-width: 700px;
  border: solid 1px;
  border-width: 0 1px 0 1px;
  align-items: center;
  overflow: scroll;
}

.new-post-container form {
  padding: 30px;
  width: 80%;
  margin-top: 30px;
}

fieldset {
  position: relative;
  border-style: solid;
  padding: 1.5rem;
  padding-top: 2em;
  border: none;
  width: 100%;
}

fieldset>div {
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}

.location>div {
  margin-bottom: 15px;
  display: inline-block;
  width: 103%;
}

.location ol {
  padding-left: 25px;
  margin: 20px 0;
}

.location ol li {
  margin-bottom: 7px;
  font-size: 16px;
  color: #284352;
}

.location>p.info:last-of-type {
  margin-bottom: 25px;
}

.location>p.list-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.f-location {
  display: flex !important;
  position: relative;
  height: 38px;
}

.location {
  margin-bottom: -15px;
}

input, textarea, .custom-file-upload {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.25rem;
  border: solid 1px #4e84c8;
  border-radius: 3px;
  padding: 10px 0 0 15px;
  width: 100% !important;
}

input {
  height: 2.5rem;
  font-size: 1rem;
  text-overflow: ellipsis;
  padding: 3px 0 0px 15px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  color: #4e5354;
  background: white;
  height: 30px;
}

legend {
  letter-spacing: 2px;
  font-size: 30px;
  border-bottom: solid 1px #bdb9b9;
  padding-bottom: 18px;
}

textarea {
  resize: vertical;
  overflow: hidden;
  width: 400px;
}

.generate-coordinates {
  height: 114%;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  min-width: 150px;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: none;
  padding: 2px 10px;
  min-width: 175px;
  border: 1px solid #666;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  height: 40px;
}

button:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

button i {
  margin-right: 10px;
}

.file-upload i {
  position: absolute;
  top: 12px;
  right: 0;
}

div.location-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.autocomplete-container {
  padding-bottom: 12px;
  margin-right: 12px;
  height: 100%;
  width: 100%;
}

#pac-input {
  font-size: 15px;
  font-weight: 300;
  width: 100% !important;
  height: 100%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.location>div.message {
  padding-bottom: 20px;
}

.location-error-message, .post-error-message {
  color: #b30909;
  font-size: 0.85rem;
}

.location-success-message {
  color: #008b00;
  font-size: 0.85rem;
}

.info {
  font-size: 18px;
  color: #284352;
}

.submit {
  margin-top: 30px;
}


/* Defines the look of the map*/


/*********** MAP ***********/

.map {
  margin-top: 180px;
}

.map-wrapper {
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}


/*** footer ***/

.footer {
  background: #24282b;
}

.footer .logo {}

.footer span {
  color: #efefef;
}

@media screen and (max-width: 1250px) {
  .new-post-container {
    min-width: 570px;
  }

  .new-post-container form {
    padding: 30px 0;
    width: 92%;
  }
}

@media screen and (max-width: 1200px) {
  body {
    height: auto;
  }

  .np-container {
    display: inherit !important;
    margin: 2px auto;
  }

  .new-post-container {
    overflow: inherit;
    margin: 50px auto 40px auto;
    border: none;
    min-width: 700px;
  }

  .new-post-container form {
    padding: 0;
  }

  .map-wrapper {
    height: 600px;
  }
}

@media screen and (max-width: 750px) {
  .np-container {}
  .new-post-container {
    margin: 50px 0;
    width: 100%;
    min-width: inherit;
  }

  .new-post-container form {
    display: flex;
    justify-content: center;
    width: 97%;
  }

  .map-wrapper {
    height: 450px;
  }
}

@media screen and (max-width: 600px) {
  .location>div {
    width: 105%
  }

  .generate-coordinates {
    min-width: 125px;
  }
  
  fieldset {
    margin-top: 40px;
  }
}
