@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  font-size: 16px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #dfdce3;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5em;
  background-color: #f7b733;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav,
nav ul,
nav ul li {
  height: inherit;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.25em;
  padding-right: 1.25em;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #dfdce3;
}

nav li:hover {
  background-color: rgba(40, 40, 40, 0.05);
}

/* MAIN */

main {
  margin-top: 5em;
  height: calc(100vh - 5em);
  background-color: #4abdac;
}

h1 {
  text-align: center;
  margin-right: 1.25rem;
  letter-spacing: 2px;
  pointer: cursor;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.new-post-container {
  z-index: 10;
  background-color: #4abdac;
  display: none;
  justify-content: center;
  width: 100%;
}

.new-post-container form {
  margin-top: 10vh;
  min-width: 450px;
}

fieldset {
  position: relative;
  border-color: #dfdce3;
  border-style: solid;
  padding: 1.5em;
}

fieldset > .description {
  margin-bottom: 1.5em;
}

fieldset > .description > #descriptiontext {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input,
textarea {
  font-family: 'Montserrat', sans-serif;
  padding: 0.25em;
}

textarea {
  resize: vertical;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: none;
  padding: 1em;
  cursor: pointer;
  color: #dfdce3;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button.back {
  margin-right: 5px;
}

button.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

button.new-post-toggle {
  background-color: #fc4a1a;
}

button.submit {
  background-color: #5cb85c;
}

input {
  height: 2em;
}

.posts {
  margin-top: 5em;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.post {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid #fc4a1a;
  min-width: 200px;
  min-height: 200px;
  background-color: #dfdce3;
  color: #fc4a1a;
}

.post > h2,
.post > p {
  margin-left: 1em;
  margin-right: 1em;
}